@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}

nav {
    text-align: center;
    position: relative; /* 서브메뉴 절대 위치 기준 */
}

.ul-nav {
    background-color: rgb(209, 250, 252);
    display: flex;
    width: 1000px;
    margin: 0 auto;
    font-weight: bold;
}

.ul-nav li {
    width: calc(100% / 4);
    padding: 10px 0;
    cursor: pointer;
}

.nav-list {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    position: absolute; /* 띄워야 보이니까 */
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: aquamarine;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
    padding: 20px 0;
    pointer-events: none;
}

.ul-nav-list {
    padding: 0 20px;
    background-color: transparent; /* 안 겹치게 */
}

.ul-nav-list li {
    padding: 5px 0;
}

/* hover 시 전체 서브메뉴 보이기 */
nav:hover .nav-list {
    opacity: 1;
    pointer-events: auto;
}



